{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<!--[if lt IE 8 ]><html class="no-js ie ie7" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 8 ]><html class="no-js ie ie8" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if IE 9 ]><html class="no-js ie ie9" lang="{{ grav.language.getLanguage ?: 'en' }}"> <![endif]-->
<!--[if (gte IE 8)|!(IE)]><!--><html class="no-js" lang="{{ grav.language.getLanguage ?: 'en' }}"> <!--<![endif]-->
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="apple-itunes-app" content="app-id=572226383">
    <meta name="google-play-app" content="app-id=com.tradehero.th">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% include 'partials/metadata.html.twig' %}

    <link rel="icon" type="image/png" href="{{ url('theme://images/logo_mini.png') }}" />
    <link rel="canonical" href="{{ page.url(true, true) }}" />

    {% block stylesheets %}
        {% do assets.addCss('theme://lib/bootstrap/css/bootstrap.min.css', 101) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Lato', 100) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Catamaran:100,200,300,400,500,600,700,800,900', 99) %}
        {% do assets.addCss('https://fonts.googleapis.com/css?family=Muli', 98) %}
        {% do assets.addCss('theme://lib/font-awesome/css/font-awesome.min.css', 97) %}
        {% do assets.addCss('theme://lib/simple-line-icons/css/simple-line-icons.css', 96) %}
        {% do assets.addCss('theme://lib/device-mockups/device-mockups.min.css', 95) %}
        {% do assets.addCss('https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css', 94) %}
        {% do assets.addCss('theme://css/new-age.min.css', 93) %}
        {% do assets.addCss('theme://lib/smart-app-banner/smart-app-banner.css', 92) %}
        {% do assets.addCss('theme://css/custom.css', 91) %}
        {% do assets.addCss('theme://css/toggle.css', 90) %}
        
        
    {% endblock %}
    {{ assets.css() }}    
    
    <script src="{{ theme_url }}/js/modernizr.js"></script>
{% endblock head%}
<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body id="top" class="{{ page.header.body_classes }}">

    <div id="preloader">
            <div id="status">
                <img src="{{ theme_url }}/images/preloader.gif" height="64" width="64" alt="">
            </div>
    </div>

    {% block header %}
        {% include 'partials/header.html.twig' %}
    {% endblock %}

    {% block body %}
        {% block content %}{% endblock %}
    {% endblock %}
<div class="footer-floating">{{'FOOTER.RISK_WARNING_FLOATING'|t}}</div>
    {% block footer %}
        {% include 'partials/footer.html.twig' %}
    {% endblock %}

{% block javascripts %}
    {% do assets.add('jquery',101) %}
    {% do assets.addJs('theme://lib/bootstrap/js/bootstrap.min.js') %}
    {% do assets.addJs('https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js') %}
    {% do assets.addJs('theme://js/jquery-migrate-1.2.1.min.js') %}
    {% do assets.addJs('theme://js/jquery.flexslider.js') %}
    {% do assets.addJs('theme://js/waypoints.js') %}
    {% do assets.addJs('theme://js/jquery.fittext.js') %}
    {% do assets.addJs('theme://js/jquery.fitvids.js') %}
    {% do assets.addJs('theme://js/imagelightbox.js') %}
    {% do assets.addJs('theme://js/jquery.prettyPhoto.js') %}
    {% do assets.addJs('theme://lib/smart-app-banner/smart-app-banner.js') %} 
    {% do assets.addJs('theme://js/main.js') %}
    {% do assets.addJs('theme://js/new-age.min.js') %}       
{% endblock %}
{{ assets.js() }}

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-93239012-1', 'auto');
  ga('send', 'pageview');

</script>

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window,document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '1611093352506205'); 
fbq('track', 'PageView');
</script>
<noscript>
<img height="1" width="1" 
src="https://www.facebook.com/tr?id=1611093352506205&ev=PageView
&noscript=1"/>
</noscript>
<!-- End Facebook Pixel Code -->


</body>
</html>
