<ul id="nav" class="nav navbar-nav navbar-right">
    {% for page in pages.children %}
        {% if page.visible %}
            {% set current_page = (page.active or page.activeChild) ? 'active' : '' %}
                <li class="{{ current_page }}">
                    <a href="{{ page.url }}">
                        {{ page.menu }}
                    </a>
                </li>
            {% endif %}
        {% endfor %}
        {% for mitem in site.menu %}
            <li>
                <a href="{% if "#" in mitem.link %}{{ base_url_absolute }}/{{ mitem.link }}{% else %}{{ mitem.link }}{% endif %}" {% if not "#" in mitem.link  %}class="smoothscroll"{% endif %}>{{ mitem.text }}</a>
            </li>
        {% endfor %}

        <li>
                        <a class="page-scroll" href="#intro">About</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#whytradehero">Contact</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="https://medium.com/tradehero">Blog</a>
                    </li>
    </ul>        