<section id="feature-container" class="virtual bg-virtual">
        <div class="text-center" style="margin-top: -130px; position: absolute; left: 50%;">
      <div class="onoffswitch">
        <input type="checkbox" name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
        <label class="onoffswitch-label" for="myonoffswitch">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
        </label>
      </div>
    </div>
        <div class="container" id="data-virtual">
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container device-container-big">
                        <div class="device-mockup iphone6 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ page.media[page.header.virtual_image].url }}" width="100%" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <br/>
                                <h2>{{page.header.virtual_features_title}}</h2>
                                <br/>
                                <br/>
                                <ul>
                                    {% for feature in page.header.virtual_features_list %}
                                        <li>{{feature.text}}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container" id="data-live" style="display: none;">
            <div class="row">
                <div class="col-md-4">
                    <div class="device-container device-container-big">
                        <div class="device-mockup iphone6 portrait white">
                            <div class="device">
                                <div class="screen">
                                    <!-- Demo image for screen mockup, you can put an image here, some HTML, an animation, video, or anything else! -->
                                    <img src="{{ page.media[page.header.live_image].url }}" width="100%" class="img-responsive" alt="">
                                </div>
                                <div class="button">
                                    <!-- You can hook the "home button" to some JavaScript events or just remove it -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-md-12">
                                <br/>
                                <br/>
                                <h2>Live trading features</h2>
                                <br/>
                                <br/>
                                <ul>
                                    <li>Trade multiple markets with ease <br/><img src="{{ page.media[page.header.flags_image].url }}" /> </li>
                                    <li>Tight spreads, low funding and rollover costs</li>
                                    <li>Only pay for the leverage used</li>
                                    <li>Passing on 100% of dividends for UK and 85% for US shares</li>
                                    <li>Free automatic guaranteed stops*</li>
                                </ul>
                                <br/>
                                <br/>
                                <p>*Please note that free guaranteed stops do not apply to all products and are subject to trade size restrictions which vary for each product.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>